# Don't be silly and upload jigglebits of Gifs to Github...
app/images/*.gif
app/images/*.jpg
app/images/*.jpeg

# ---------------------------------------------------------
# Sublime Text
*.sublime-project
*.sublime-workspace


# ---------------------------------------------------------
# Mac OS X poop
.DS_Store
.AppleDouble
.LSOverride

# Icon must ends with two \r.
Icon

# Thumbnails
._*

# Files that might appear on external disk
.Spotlight-V100
.Trashes

# Directories potentially created on remote AFP share
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items

