<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../assets/ico/favicon.ico">

    <title>Derp</title>

    <!-- build:css(app) css/main.min.css -->
    <link href="css/main.css" rel="stylesheet">
    <!-- endbuild -->

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>

  <body>
    <div class="container">
      <div class="row">

          <h1>Derp</h1>
          <p>A searchable directory of stupid Internet ephemera.</p>

      </div>


          <h2>List View</h2>

          <form role="form">
            <input type="text" class="form-control" placeholder="Filter">
          </form>

          <div id="listView">


          </div>



      <hr>

      <footer>
        <p>Copyleft 2014</p>
      </footer>

    </div><!-- /.container -->



  <script id="itemTemplate" type="text/template">
    <a href="#<%= link %>"><img src="<%= imageUrl %>" alt="<%= title %>" class="image" /></a>
    <ul>
      <li>Name:<%= title %></li>
      <li>Format:<%= format %></li>
      <li>Image URL:<%= imageUrl %></li>
    </ul>
  </script>


    <!-- build:js(app) js/production.min.js -->
    <!-- bower:js -->
    <script src="bower_components/jquery/dist/jquery.js"></script>
    <script src="bower_components/underscore/underscore.js"></script>
    <script src="bower_components/backbone/backbone.js"></script>
    <!-- endbower -->

    <script src="js/models/itemModel.js"></script>    
    <script src="js/collections/itemCollection.js"></script>
    <script src="js/views/itemView.js"></script>
    <script src="js/views/listView.js"></script>
    <script src="js/routes/routes.js"></script>    
    <script src="js/app.js"></script>
    <!-- endbuild -->
  </body>
</html>
