<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../assets/ico/favicon.ico">

    <title>Derp</title>

    <!-- build:css(app) css/main.min.css -->
    <link href="css/main.css" rel="stylesheet">
    <!-- endbuild -->

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>

  <body>
    <!-- Fixed navbar -->
    <div class="navbar navbar-default navbar-fixed-top" role="navigation">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#">Derp</a>
        </div>
        <div class="navbar-collapse collapse">
          <ul class="nav navbar-nav">
            <li class="active"><a href="#">List</a></li>
            <!--<li><a href="#list">List</a></li>
            <li><a href="#grid">Grid</a></li>-->
          
        </div><!--/.nav-collapse -->
      </div>
    </div>


    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <h1>Derp</h1>
          <p>A searchable directory of stupid Internet ephemera.</p>
        </div>
      </div>


      <!--
      <div class="row">
        <div class="col-md-12">
          <h2>Grid View</h2>

        </div>
      </div>

      <div id="grid-view">


      </div>

      <div class="row">
        <div class="col-md-12">
          <h2>List View</h2>

        </div>
      </div>

      <ul id="list-view">


      </ul>

      <hr>
      -->
      <div id="app">
        App container
      </div>

      <hr>

      <footer>
        <p>Copyleft 2014</p>
      </footer>

    </div><!-- /.container -->



    <script id="itemTemplate" type="text/template">

      <h3><%= title %></h3>
      <a href="<%= imageUrl %>"><img src="<%= imageUrl %>" alt="<%= title %>" class="image" /></a>

      <button type="button" class="btn btn-default item-detail-button btn-sm">Toggle Details</button>

      <table class="item-detail table">
        <tr>
          <td>title</td>
          <td><%= title %></td>
        </tr>
        <tr>
          <td>format</td>
          <td><%= format %></td>
        </tr>
        <tr>
          <td>imageUrl</td>
          <td><%= imageUrl %></td>
        </tr>
        <tr>
          <td>keywords</td>
          <td><%= keywords %></td>
        </tr>
        <tr>
          <td>isBroken</td>
          <td><%= isBroken %></td>
        </tr>
        <tr>
          <td>fallbackUrl</td>
          <td><%= fallbackUrl %></td>
        </tr>
        <tr>
          <td>dateAdded</td>
          <td><%= dateAdded %></td>
        </tr>
      </table>
    </script>

    <script id="itemListTemplate" type="text/template">

      <a href="<%= imageUrl %>"><%= title %></a>

      <button type="button" class="btn btn-default item-detail-button btn-sm">Toggle Details</button>

      <table class="item-detail table">
        <tr>
          <td>title</td>
          <td><%= title %></td>
        </tr>
        <tr>
          <td>format</td>
          <td><%= format %></td>
        </tr>
        <tr>
          <td>imageUrl</td>
          <td><%= imageUrl %></td>
        </tr>
        <tr>
          <td>keywords</td>
          <td><%= keywords %></td>
        </tr>
        <tr>
          <td>isBroken</td>
          <td><%= isBroken %></td>
        </tr>
        <tr>
          <td>fallbackUrl</td>
          <td><%= fallbackUrl %></td>
        </tr>
        <tr>
          <td>dateAdded</td>
          <td><%= dateAdded %></td>
        </tr>
      </table>
    </script>

    <script id="list-template-simple" type="text/template">
      <a href="<%= imageUrl %>"><%= title %></a>
    </script>

    <!-- build:js(app) js/production.min.js -->
    <script src="js/data-sample.js"></script>

    <!-- bower:js -->
    <script src="bower_components/jquery/dist/jquery.js"></script>
    <script src="bower_components/underscore/underscore.js"></script>
    <script src="bower_components/backbone/backbone.js"></script>
    <script src="bower_components/get-style-property/get-style-property.js"></script>
    <script src="bower_components/get-size/get-size.js"></script>
    <script src="bower_components/eventie/eventie.js"></script>
    <script src="bower_components/doc-ready/doc-ready.js"></script>
    <script src="bower_components/eventEmitter/EventEmitter.js"></script>
    <script src="bower_components/jquery-bridget/jquery.bridget.js"></script>
    <script src="bower_components/matches-selector/matches-selector.js"></script>
    <script src="bower_components/outlayer/item.js"></script>
    <script src="bower_components/outlayer/outlayer.js"></script>
    <script src="bower_components/masonry/masonry.js"></script>
    <script src="bower_components/imagesloaded/imagesloaded.js"></script>
    <!-- endbower -->

    <script src="js/models/item.js"></script>    
    <script src="js/collections/list.js"></script>
    <script src="js/views/itemView.js"></script>
    <script src="js/views/listView.js"></script>
    <script src="js/routes/routes.js"></script>    
    <script src="js/app.js"></script>

    <script src="js/misc.js"></script>
    <!-- endbuild -->

    

  </body>
</html>
